#edit-testemail-wrapper {
  display: none;
}

/**
 * List selector styles
 */
#wildfire-list-selector {
  border-bottom: 1px solid #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
}
#wildfire-list-selector li {
  background: none;
  border-top: 1px solid #dddddd;
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
#wildfire-list-selector li.selected {
  background: #e5ffe5;
}
#wildfire-list-selector li:hover {
  background: #ffffc0;
  cursor: pointer;
}
.wildfire-list-col-name {
  float: left;
  padding: 5px 10px;
  font-weight: bold;
}
.wildfire-list-col-size {
  float: right;
  padding: 5px 10px;
  font-weight: bold;
}
.wildfire-list-name {
  line-height: 14px;
  margin-right: 30px;
}
.wildfire-list-count {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
}
.wildfire-list-count p {
  color: green;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
}
#wildfire-list-remove {
  display: none;
  margin: 16px 0 0;
  text-align: right;
}
#wildfire-list-remove a {
  background: url('../../../images/delete.png') center right no-repeat;
  cursor: pointer;
  padding: 0 24px 0 0;
  text-align: right;
}

/**
 * Template selector styles
 */
#wildfire-template-selector {
  margin: 10px 0;
  padding: 0;
  float:left;
}
#wildfire-template-selector ul li.selected,
#wildfire-template-selector ul li.unselected {
  background: none;
  display: inline;
  float: left;
  height: 250px;
  list-style-type: none;
  padding: 7px 7px 11px 7px;
  margin: 0 10px 0 0;
  width: 130px;
  overflow: hidden;
  background: #f9f9f9;
  border: 3px #EEE solid;
}
#wildfire-template-selector ul li.nonefound {
  height: auto;
  width: auto;
}
#wildfire-template-selector ul li img {
  border: 1px solid #AAA;
}
#wildfire-template-selector ul li.selected img {
  border: 1px solid #AAA;
}
#wildfire-template-selector ul li.selected {
  background: #FFF;
  border-color: #CCC;
}
#wildfire-template-selector ul li.selected a {
  cursor: default;
  outline: none;
}
#wildfire-template-selector ul li a {
  position: relative;
  display: block;
}
#wildfire-template-selector ul li a:hover {
  text-decoration: none;
}
#wildfire-template-selector ul li a .thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
}
#wildfire-template-selector ul li a span {
  display: block;
  padding: 0 3px;
}
#wildfire-template-selector ul li.disabled {
  background-color: #FDD;
}

#wildfire-alerts-form #edit-preview,
#wildfire-alerts-form .edit-no-preview,
#wildfire-send-form #edit-preview,
#wildfire-send-form .edit-no-preview {
  display: inline-block;
  padding: 5px 5px 5px 22px;
  background: url('../../../images/magnifier.png') no-repeat 1px 8px;
  float: left;
  clear: left;
}
#wildfire-alerts-form #edit-send,
#wildfire-send-form #edit-send {
  clear:right;
  float:right;
  margin:10px 0 0;
  width:90px;
}
#wildfire-alerts-form #wildfire-template-summary,
#wildfire-send-form #wildfire-template-summary {
  float: left;
}
#wildfire-alerts-form #wildfire-template-summary span,
#wildfire-send-form #wildfire-template-summary span {
  font-weight: bold;
}
#wildfire-alerts-form #wildfire-list-summary,
#wildfire-send-form #wildfire-list-summary {
  float: right;
}
#wildfire-alerts-form #wildfire-list-summary #wildfire-list-count,
#wildfire-send-form #wildfire-list-summary #wildfire-list-count {
  font-weight: bold;
}

/**
 * Template preview styles
 */
.wildfire-template-title {
  font-weight: bold;
  line-height: 17px;
}
.wildfire-template-description {
  font-size: 10px;
  line-height: 15px;
}
#wildfire-preview-iframe {
  width: 100%;
  height: 575px;
  border: 1px #DDD solid;
  margin: 1em;
}

/**
 * Broadcast send page
 */
#wildfire-broadcast-send-page .left {
  display: block;
  width: 35%;
  float: left;
}
#wildfire-broadcast-send-page .right {
  display: block;
  width: 65%;
  float: right;
}

#edit-cmsubject {
  width: 90%;
}
