.status-pending {
  color: #333;
}

.status-paused {
  color: #66F;
}

.status-cancelled {
  color: #F00;
}

.status-progress {
  color: #333;
}

.status-complete {
  color: #333;
}

.status-preparing {
  color: #333;
}

.wildfire-job-progress-bar {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 14px;
  border: 1px #333 solid;
  background-color: #FFF;
  border-radius: 3px;
}

.wildfire-job-progress-bar-inner {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 0;
  height: 14px;
  background: linear-gradient(top,  #AAF,  #000);
  background: -webkit-linear-gradient(top,  #AAF,  #000);
  background: -moz-linear-gradient(top,  #AAF,  #000);
  background: -ms-linear-gradient(top,  #AAF,  #000);
}

.wildfire-job-progress-percent {
  float: left;
  margin-left: 8px;
}

.date-started {
  color: #0A0;
}

.date-scheduled {
  color: #DA0;
}

.date-completed {
  color: #333;
}
